/* ====== RESET css ====== */

/* ==== LINK ==== */
a {
    text-decoration: none;
}

/* ==== LISTAS DE ITEM ==== */

ol, ul {
    list-style: none;
}

/* ==== TAGs ==== */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, dl, dt, dd, ol, ul, li, form, label, article, footer, header, nav, section, main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==== HEADINGs TAG ==== */

h1, h2, h3, h4, h5, h6, p, a, ul {
    font-size: 1em;
    font-weight: normal;
}