/* ==== GENERAL STYLE ==== */

h1, h2, p {
    font-family: 'Josefin Sans', sans-serif;
    color: #653332;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.max-w {
    max-width: 1060px;
    margin: 0 auto;
}

/* ========= MAIN ========= */

.bg {
    background: #FEEEEE;
}

.foto-logo {
    padding: 20px 0;
}

.border-top {
    border-top: 1px solid #FCCCEE;
    padding-top: 30px;
}

.frase {
    font-size: 46px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.frase span {
    font-weight: bold;
    color: #FF0099;
}

/* ===== DISPLAY FLEX ===== */

.item-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

/* ===== ITEM 1 ===== */

.item-1 {
    max-width: 530px;
    margin: 0 10px;
}

.foto-mulher {
    box-shadow: 7px 8px 15px #aaa;
}

.item-1 h2 {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
}

.participe {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.participe img {
    margin-left: 10px;
}

/* ===== ITEM 2 ===== */

.item-2 {
    background: #FAE6E6;
    box-shadow: 7px 8px 15px #ccc;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0 0;
    max-height: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.item-2 p {
    padding: 20px 0;
}

.item-2 label {
    color: #653332;
    font-size: 12px;
    padding: 10px 0 5px 0;
}

.item-2 input {
    padding: 4px 0;
}

.sexo {
    padding: 10px 0;
}

.btn {
    background: #AB6697;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;    
    padding: 7px 60px;
    margin-top: 40px;
}

#button {
    margin: 0 auto;
}


/* ===== PRODUTOS ===== */

.produtos h2 {
    margin: 60px 0;
    text-align: center;
}

.produtos ul {
    display: flex;
    margin: 60px 0;
}

.produtos li {
    margin: 0 20px;
}

