/* ==== GENERAL STYLE ==== */

h1, h2,h3, p {
    font-family: 'Josefin Sans', sans-serif;
    color: #653332;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.max-w {
    max-width: 1060px;
    margin: 0 auto;
}

/* ========= MAIN ========= */

.bg {
    background: #FEEEEE;
}

.foto-logo {
    padding: 20px 0;
}

.border-top {
    border-top: 1px solid #FCCCEE;
    padding-top: 30px;
}

.frase {
    font-size: 46px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.frase span {
    font-weight: bold;
    color: #FF0099;
}

/* ===== DISPLAY FLEX ===== */

.item-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

/* ===== ITEM 1 ===== */

.item-1 {
    max-width: 530px;
    margin: 0 10px;
}

.foto-mulher {
    box-shadow: 7px 8px 15px #aaa;
}

.item-1 h2 {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
}

.participe {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.participe img {
    margin-left: 10px;
}

/* ===== ITEM 2 ===== */

.item-2 {
    background: #FAE6E6;
    box-shadow: 7px 8px 15px #ccc;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 10px 0 0;
    max-height: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.item-2 p {
    padding: 20px 0;
}

.item-2 label {
    color: #653332;
    font-size: 12px;
    padding: 10px 0 5px 0;
}

.item-2 input {
    padding: 4px 0;
}

.sexo {
    padding: 10px 0;
}

.btn {
    background: #AB6697;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;    
    padding: 7px 60px;
    margin-top: 40px;
}

#button {
    margin: 0 auto;
}


/* ===== PRODUTOS ===== */

.produtos h2 {
    margin: 60px 0;
    text-align: center;
}

.produtos ul {
    display: flex;
    margin: 60px 0;
}

.produtos li {
    margin: 0 10px;
    text-align: center;

}

.produtos img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.produtos a:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.produtos h3 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 16px;
}

.old-price {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #653332;
    text-decoration: line-through;
    padding: 6px;
}

.new-price {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FF0099;
    padding-top: 10px;

}

/* ====== Mais Produtos ====== */

.btn-mais {
    text-align: center;
    margin: 120px auto;
}

.novidades {
    border: 3px solid #653332;
    color: #653332;
    padding: 20px 40px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .40px;
    text-transform: uppercase;
}

.novidades:hover {
    border: 3px solid #000;
    background: #000;
    color: #fff;
}


/* ======== Indicação ======== */

.bg-register {
    background: #FEEEEE;
}

.register p {
    text-align: center;
    padding-top: 30px;

}

.register span {
    color: #BF3080;
}

.register-friend {
    text-align: center;
    padding: 30px 0;
}

.register-friend input {
    width:250px;
    height: 33px;
    border: 1px solid #BF3080;
    background: #fff;
    flex-wrap: wrap;
}

.register-friend button {
    padding: 8px;
    padding-bottom: 9px;
    background: #BF3080;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .30px;
    text-transform: uppercase;
    margin-left: -38px;
}

.register-friend button:hover {
    color: #000;
}

.nome {
    padding-left: 5px;
}

.email {
    padding-left: 5px;
}

/* ====== Footer ====== */

.bg-footer {
    background: #000;
    padding: 15px 0;
}

.redes {
    text-align: center;
}

.redes ul li {
    color: #fff;
    display: inline-block;
}

.redes ul li p {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 40px;
}

.redes ul li a {
    padding-right: 20px;
}